.contacts-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: auto;
    padding-top: 20px;
}
.contact {
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.contact:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.contact i {
    font-size: 24px;
    color: black;
}