@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('skills.css');
@import url('statistics.css');
@import url('contacts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1170px;
    margin: auto;
}

.text-center {
    text-align: center;
}