.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%
}
.skill-group {
    width:48%;
    padding-bottom: 20px;
    border:1px solid gray;
    border-radius: 30px;
}
.skill-group-items {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.skill {
    display: block;            
}
.skill img {
    width: 120px;
    height: 120px;
}